.popup-wrapper {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-wrapper-active {
  display: block;
}

.popup {
  padding: 25px;
  height: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: $md1) {
  .popup {
    max-width: 725px;
  }
}

@media (max-width: $md3) {
  .popup {
    max-width: 350px;
  }
}

.popup-close {
  transition: all 0.5s ease;
  margin-left: auto;
  margin-bottom: 5px;
  display: block;
  cursor: pointer;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: url('../assets/icons/close-popup.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:active {
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
  }
}

.popup-close-hover {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.popup-show {
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: white;
  border-radius: 9px;
  max-width: 900px;
}

@media (max-width: $md1) {
  .popup-show {
    max-width: 630px;
  }
} 

@media (max-width: $md3) {
  .popup-show {
    max-width: 240px;
    grid-template-columns: 100% 0%;
    text-align: center;
  }
} 

.popup-info {
  padding: 50px 20px 90px 30px;
}

@media (max-width: $md1) {
  .popup-info {
    padding: 10px 10px 35px 10px;
  }
} 

.popup-image {
  img {
    width: 100%;
    height: 100%;
    border-radius: 9px 0px 0px 9px;
  }
}

@media (max-width: $md3) {
  .popup-image {
    display: none;
  }
} 

.popup-name {
  font-family: 'Georgia';
  color: black;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
}

.popup-type {
  margin-top: 10px;
  font-family: 'Georgia';
  color: black;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.popup-description {
  margin-top: 40px;
  font-family: 'Georgia';
  color: black;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
}

@media (max-width: $md1) {
  .popup-description {
    margin-top: 20px;
  }
} 

.popup-ul {
  margin-top: 40px;
}

@media (max-width: $md1) {
  .popup-ul {
    margin-top: 20px;
  }
} 


@media (max-width: $md3) {
  .popup-ul {
    text-align: left;
  }
} 

.popup-ul li {
  font-family: 'Georgia';
  font-weight: bold;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  &::before {
    color: #F1CDB3; /* Цвет маркера */
    content: "•"; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
  }
  span {
    font-weight: normal;
  }
}

.popup-inoculations-li, .popup-diseases-li, .popup-parasites-li {
  margin-top: 10px;
}